/* 
Style Sheet for CS202
* version: 2.0
* last modified: 6.29.2020
* author: Wendy Chew Ven Si
* email: cheww@wwu.edu
* website: lesson 3
*/
@import "../node_modules/bootstrap/scss/bootstrap.scss";

@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/js/all.min.js);
// Style rule

/* selector{declaration;} */
/* selector{property:value;} */

//css variables 
:root{
    --main-color: #05a081;
}

//scss variables
$primary: yellow;
$margin: 22px;

body{
    // important rule
    background-color: #fffef0 !important;
    // font
    // font-family: Arial, Helvetica, sans-serif;
    // font-style: italic;
    // font-weight: bold;
    // line-height: 150%;
    // text-transform: uppercase;

    // font shorthand
    // font: font-style font-variant font-weight font-size/line-height font-family;
    // font: italic bold 18px/150% Arial;

    // nesting properties
    // font: {
    //     style: italic;
    //     weight: bold;
    //     family: Arial;
    // }
    // text: {
    //     transform: uppercase;
    // }
}
h2{
    color: var(--main-color);
}

h3{
    color: $primary;
    font-size: 15px;
}
// nesting elements
nav{
    color: red;
    a{
        text-decoration: none;
    }
}
